{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}

  <div class="container classforspace classforimg body1">
    <div class="row">
    <div class="col-sm-7">
      <h1 class="text-center"> Ajay Tomar</h1>
      <h5>Ajay Tomar is rise as a leader and a guide of "Job Oriented Training" trainer in the area
of computer science in India. He is not only a teach but also a inspire and motivate to
his students which a great success in his life.  He has been helped many students in to get
 placed in Software companies. <br>

During my masters from B K Birla Institute , Pilani , Rajasthan - He have to suffer vey much
for his Industrial Training and In the last our faculities left our training center, which was
very diffecult for me and all my batchmates.
So from that day I decide to that "I will stop all this" ,then I complete my Training and keep
growing my skils. Then I work as Ass. Prof. in a college but the boundations was also there.
Currently he devoted his time educating and inspiring students of all abilities, ages and
backgrounds to become entrepreneurs.

Ajay Tomar combines his years of wisdom, wit and creativity to his passion to help others.</H5>

    </div>
    <div class="col-sm-5">
      <div class="img-wrap">
        <img src="{% static "images/AjayTomar.jpg" %}" alt="">

      </div>

    </div>
    </div>
  </div>




  <nav class="navbar navbar-dark navbar-expand-md fixed-bottom navbar-custom " style="background-color: #000000;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <footer>
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                        <ul class="nav navbar-nav"  style="font-size: 20px;">
                          <li class="nav-item navspace" style="margin-left:300px"><a>Running Under the Aeigs of "OM RAM Educational Trust" Baraut , Baghpat </a></li>
                        </ul>
                    </div>

        </footer>
      </div>
  </nav>

{%endblock%}
