{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}
<div class="container leftrightmargin body1">
<h2 class=" classforspace border2">COURSE INFO</h2>
<h4 class=" center">ADV Java is next level of core java. Here we start developing our responsive pages which is the
the major need that we are here. Here we develop complete web development. Here we study
JSP technology which used to create web application.JSP can be easily managed because we
can easily separate our business logic with presentation logic.
EJB (Enterprise Java Bean) is used to develop scalable, robust and secured enterprise applications
in java.
Spring is a lightweight framework. It can be thought of as a framework of frameworks because
it provides support to various frameworks such as Struts, Hibernate, Tapestry, EJB, JSF etc.
The framework, in broader sense, can be defined as a structure where we find solution of the
various technical problems.The Spring framework comprises several modules such as IOC, AOP,
DAO, Context, ORM, WEB MVC etc. <br>
Here every topic has a wide range of our sub-topics so student should have the patience to
himself.Here I can promiss you that you will become a very good "JAVA DEVELOPER".
</h4>
<h2 class="border2">Requirements</h2>
<h4 class="center">You are supposed to have a good Internet connection for online classes. The application is so much
lite that  a 2G internet connection is enough for classes. You required maximum 300mb data/day
for your 2 hours classes .</h4>

<section>
  <div class="container">
  <h2>SYLLABUS</h2>
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse5">ADV JAVA</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">1.DATE In Java</li>
          <li class="list-group-item">2. JDBC In Java</li>
          <li class="list-group-item">3.Servlet In Java</li>
          <li class="list-group-item">4. JSP In Java</li>
          <li class="list-group-item">5.EJB In Java</li>
          <li class="list-group-item">6. Struts In Java </li>
          <li class="list-group-item">7.Spring In Java</li>
          <li class="list-group-item">6.Four Assignment for Web Deve  </li>
          <li class="list-group-item">7.One Real Time Project</li>
        </ul>
    </div>
  </div>
</div>
</section>
</div>
{%endblock%}
