{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}

<div class="container leftrightmargin body1">
  <h2 class=" classforspace border2">COURSE INFO</h2>
  <h4 class=" center">
C++ is a general purpose programming language developed by Bjarne Stroustrup at Bell labs in 1979,
  as an extension to the C language and widely used now a days for competitive programming.
C++ is an object-oriented programming language. It is an extension to C programming.
C++ allows you to have a lot of control as to how you use computer resources, so in the
right hands its speed and ability to cheaply use resources should be able to surpass other
languages.

StackOverflow is a programming Q&A site you will no doubt become intimate with as a coding
beginner. While some may argue C++ questions are more likely to be answered because C++
users are more advanced and know how to phrase their questions better, an 83.6% overall
answer rate is still quite the feat.
C++ is a cross-platform language that can be used to create high-performance applications.
  It has imperative, object-oriented and generic programming features. C++ runs
  on lots of platform like Windows, Linux, Unix, Mac etc.</h4>
  <h2 class="border2">Requirements</h2>
  <h4 class="center">You are supposed to have a good Internet connection for online classes. The application is so much
  lite that  a 2G internet connection is enough for classes. You required maximum 300mb data/day
  for your 2 hours classes .</h4>

  <section class="">
    <div class="container">
    <h2>SYLLABUS</h2>
    <div class="panel-group ">
      <div class="panel panel-default ">
        <div class="panel-heading ">
          <h4 class="panel-title border1">
            <a data-toggle="collapse" href="#collapse5">C++ LANG.</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <ul class="list-group">
            <li class="list-group-item">1. History of C++</li>
            <li class="list-group-item">2. Hello world program</li>
            <li class="list-group-item">3. Variables in C++</li>
            <li class="list-group-item">4. Keywords & Operators</li>
            <li class="list-group-item">5. Control Statments</li>
            <li class="list-group-item">6. Functions In C++</li>
            <li class="list-group-item">7. Array In C++</li>
            <li class="list-group-item">8. String In C++</li>
            <li class="list-group-item">9. Pointers In C++</li>
            <li class="list-group-item">10. Object & Classes</li>
            <li class="list-group-item">11. Inheritance In</li>
            <li class="list-group-item">12. Polymorephism In </li>
            <li class="list-group-item">13. Function Overloading  </li>
            <li class="list-group-item">14. Function Overriding</li>
            <li class="list-group-item">15. Virtual Function</li>
            <li class="list-group-item">16. File Handling</li>
            <li class="list-group-item">17. Namespace</li>
            <li class="list-group-item">18. Exceptions Handling</li>
            <li class="list-group-item">19. Data Structure In C++</li>
            <li class="list-group-item">**After 4th chapter we solve min 20 question as Assignment </li>
          </ul>
      </div>
    </div>
  </div>
  </section>
</div>

{%endblock%}
