{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}

<div class="container leftrightmargin body1">
<h2 class=" classforspace border2">COURSE INFO</h2>
<h4 class=" center">Java is a general-purpose computer programming language that is concurrent, class-based,
object-oriented and specifically designed to have as few implementation dependencies as
possible. It is intended to let application developers "write once, run anywhere" (WORA),
which means that compiled Java code can run on all platforms that support Java without the
need for recompilation. Java is a high level, robust, object-oriented and secure programming language.
Java applications are typically compiled to bytecode that can run on
any Java virtual machine (JVM) regardless of computer architecture.It is a widely used robust technology
which is going to enhance itself day by day.
<br>
Globally, Java is one
of the most popular programming languages in use, particularly for client-server web
applications, with a reported 9+ million developers. Here In this course we are going to
learn all basics of the language which will be very beneficial to develop our career "As A JAVA DEVELOPER".
</h4>
<h2 class="border2">Requirements</h2>
<h4 class="center">You are supposed to have a good Internet connection for online classes. The application is so much
lite that  a 2G internet connection is enough for classes. You required maximum 300mb data/day
for your 2 hours classes .</h4>

<section>
  <div class="container">
  <h2>SYLLABUS</h2>
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse5">CORE JAVA</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">1.What Is Java</li>
          <li class="list-group-item">2. JDK , JVM , JRE</li>
          <li class="list-group-item">3. Variables In Java</li>
          <li class="list-group-item">4. Operators In Java</li>
          <li class="list-group-item">5. Control Statments In Java</li>
          <li class="list-group-item">6. Object And Classes </li>
          <li class="list-group-item">7. Inheritance In Java</li>
          <li class="list-group-item">8. Polymorephism In Java</li>
          <li class="list-group-item">9. Abstraction In Java</li>
          <li class="list-group-item">10. OOP's In Java</li>
          <li class="list-group-item">11.Array In Java</li>
          <li class="list-group-item">12. Array Assignment1</li>
          <li class="list-group-item">13. Array Assignment2</li>
          <li class="list-group-item">14. String In Javas</li>
          <li class="list-group-item">15. String Assignment1</li>
          <li class="list-group-item">16. Statments Assignment2</li>
          <li class="list-group-item">17. Swing In Java</li>
          <li class="list-group-item">18. Swing Assignment1</li>
          <li class="list-group-item">19. Swing Assignment2</li>
          <li class="list-group-item">20. IO In Java</li>
          <li class="list-group-item">21. Socket Programmng </li>
          <li class="list-group-item">22. Reflection In Java </li>
          <li class="list-group-item">**Min 25 Questions After Each Lession</li>

        </ul>
    </div>
  </div>
</div>
</section>
</div>

{%endblock%}
