{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}
<div class="container leftrightmargin body1">
<h2 class=" classforspace border2">COURSE INFO</h2>
<h4 class=" center">
C is a procedural programming language. It was initially developed by Dennis Ritchie in the
year 1972.The main features of C language include low-level access to memory, a simple set
of keywords, and clean style, these features make C language suitable for system programmings
like an operating system or compiler development. Many later languages have borrowed
syntax/features directly or indirectly from C language.
C++ is also the 6th most used and followd tag on StackOverflow, with over 69k followers.
Like syntax of Java, PHP, JavaScript,
and many other languages are mainly based on C language. <br> This course helps you to learn C
language from basics to the subtle concepts like function pointers, pointers to arrays, array
of pointers, etc easily.
<br>
We have covered the complete syllabus with a number of programs
which gives you enough experience for getting good grades, doing projects and helps you to
crack the interviews.
</h4>
<h2 class="border2">Requirements</h2>
<h4 class="center">You are supposed to have a good Internet connection for online classes. The application is so much
lite that  a 2G internet connection is enough for classes. You required maximum 300mb data/day
for your 2 hours classes .</h4>

<section>
  <div class="container">
  <h2>SYLLABUS</h2>
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse5">C LANG.</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">1. History of C</li>
          <li class="list-group-item">2. Hello world program</li>
          <li class="list-group-item">3. Variables in C</li>
          <li class="list-group-item">4. Keywords & Operators</li>
          <li class="list-group-item">5. Control Statments</li>
          <li class="list-group-item">6. Functions In C</li>
          <li class="list-group-item">7. Array In C</li>
          <li class="list-group-item">8. String In C</li>
          <li class="list-group-item">9. Structure In C</li>
          <li class="list-group-item">10. Pointers</li>
          <li class="list-group-item">11. File Handling</li>
          <li class="list-group-item">12. Storage Classes </li>
          <li class="list-group-item">**After 4th chapter we solve min 25 question as Assignment
                                        Which help you crack the interviews</li>
        </ul>
    </div>
  </div>
</div>
</section>
</div>

{%endblock%}
