{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}

<div class="container leftrightmargin body1" >
<h1 class=" classforspace border2" style="padding:25px"> <center> Frequently Asked Questions</center></h1>

<section style="padding:8px">
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse4">1. Is coaching very important to get job in a good Company?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">It is just like a sport where a coach will help you cut short your learning time using his experience. Ajay Sir has helped many students achieve great success with his experience. Coaching will definitely help you save lot of time and avoid lots of mistakes. You might hear some people saying that you can crack S/W company with out coaching but it is estimated that nearly 10 students are present for one "Computer Science Vacency" taking coaching from some coaching centres. If you are preparing only for one or two years and if you are not taking coaching, it is like running a race while others are on motor bikes. People who are suggesting that you prepare on your own are not going to take S/W job on your behalf. It is your life and we suggest that you do not take any chances.</li>
        </ul>
    </div>
  </div>
</div>
</section>


<section style="padding:8px">
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse5">2. Do I need to prepare from any textbooks or the classes only enough?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">Our Classes will be self sufficient for the one programming language, but in case if you get time, it is better to refer to textbook as well. It is not mandatory.</li>
        </ul>
    </div>
  </div>
</div>
</section>


<section style="padding:8px">
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse7">3. Do we required a very fast internet connection for our classes ?</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">You are supposed to have a good Internet connection for online classes. The application is so much
          lite that  a 2G internet connection is enough for classes. You required maximum 300mb data/day
          for your 2 hours classes.</li>
        </ul>
    </div>
  </div>
</div>
</section>



<section style="padding:8px">
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse1">4. Is each and every topic taught by Ajay Tomar Sir</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">Yes. Even though a team of experts from various good Institute of India work with him to produce the quality material, all the classes will be taught by Ajay Sir himself.</li>
        </ul>
    </div>
  </div>
</div>
</section>

<section style="padding:8px">
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse2">5. Will the classes goes regularly?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item"> Yes , If you select any of these courses , they have a broad syllabus and min 2 hours of classes will going every day . Even the timeing of the classes can me more from extended.   </li>
        </ul>
    </div>
  </div>
</div>
</section>

<section style="padding:8px">
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse3">6. Can i get refund?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">Yes, we have a refund policy. If you raise a refund request within 72 hrs after making the payment or getting the access to the course, Rs. 3,000 will be deducted from the course fees and the balance amount will be processed as the refund.If you raise a refund request after 72 hrs of getting online classes, you are not entitled to any kind of refunds.</li>
        </ul>
    </div>
  </div>
</div>
</section>

{%endblock%}
