{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}

<div class="container classforspace body1">

<h2> If you want to join online classes then contact on <span style="font-size:30px bold; "></span>938944143 or 7983180463 this number and ask for
  latest batch information. If you are interested in registering, you can make the
  payment in the following account either through net banking or at your nearest Syndicate
  bank and "Email" us the transaction id or scan copy of the pay-in-slip.
</h2>
<table class="tablejoin">
<tr>
  <th>Account Holder Name</th> <td> Ajay Tomar</td>
</tr>
<tr>
  <th>Account Number</th> <td> 8625-221-0047014</td>
</tr>
<tr>
<th>Account Type</th> <td> Saving Account</td>

</tr>
<tr>
  <th>Bank</th> <td> SYNDICATE BANK</td>
</tr>
<tr>
  <th>Branch</th> <td> Baraut</td>
</tr>
<tr>
  <th>RTGS/NEFT IFSC</th> <td>  SYNB0008625</td>
</tr>

</table>

<h2>
  After the payment is done, you can email us the screen shot or picture of transaction
   details or the pictures of the bank pay in slip at <span style="font-size:40px bold;">ajaytomar6551@gmail.com</span>  with
   subject line as "Payment done for COURSE_NAME". Sharing your access or trying to
   sell or distribute classes is a legally punishable offense.
</h2>


</div>


{%endblock%}
