{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}

<div class="container leftrightmargin body1">
<h2 class=" classforspace border2">COURSE INFO</h2>
<h4 class=" center">Python is a general purpose high level programming language,which was developed by Guido Van
Rossam in 1989 while working at National Research Institute at Netherlands. But officially Python
was made available to public in 1991. Python is a platform independent language can run on any
platform without rewriting once again.
It’s not surprising for it is an interpreted language; users can directly run the program without
compiling data into machine language before execution. Python is living up to its name when it
comes to cybersecurity fierceness. With powerful third-party libraries (e.g., Nmap, Yara, Requests,
etc.) to choose from. We can use python almost all the purpose as Web Development, Machine Learning,
 Data Mining, Text Mining, Deep learning ..etc which is a cleare indication towards its future.
</h4>
<h2 class="border2">Requirements</h2>
<h4 class="center">You are supposed to have a good Internet connection for online classes. The application is so much
lite that  a 2G internet connection is enough for classes. You required maximum 300mb data/day
for your 2 hours classes .</h4>

<section>
  <div class="container">
  <h2>SYLLABUS</h2>
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse1">CORE PYTHON</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">1.Language Fundamentals</li>
          <li class="list-group-item">2. Operators</li>
          <li class="list-group-item">3. Flow Control</li>
          <li class="list-group-item">4. String Data Type</li>
          <li class="list-group-item">5. List Data Structure</li>
          <li class="list-group-item">6. Tuple Data Structure </li>
          <li class="list-group-item">7. Set Data Structure</li>
          <li class="list-group-item">8. Dictionary Data Structure</li>
          <li class="list-group-item">9. Functions</li>
          <li class="list-group-item">10. Modules</li>
          <li class="list-group-item">11. Packages</li>
          <li class="list-group-item">12. 100 Pattern Programs</li>
          <li class="list-group-item">**Min 25 Questions After Each Lession</li>
        </ul>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse2">ADV PYTHON</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">1. OOP’s Part – 1</li>
          <li class="list-group-item">2. OOP’s Part – 2</li>
          <li class="list-group-item">3. OOP’s Part – 3</li>
          <li class="list-group-item">4. OOP’s Part – 4</li>
          <li class="list-group-item">5. Exception Handling</li>
          <li class="list-group-item">6. File Handling </li>
          <li class="list-group-item">7. Multi Threading</li>
          <li class="list-group-item">8. Python Database Programming</li>
          <li class="list-group-item">9. Regular Expressions & Web Scraping</li>
          <li class="list-group-item">10. Decorator Functions</li>
          <li class="list-group-item">11. Generator Functions</li>
          <li class="list-group-item">12. Assertions</li>
          <li class="list-group-item">13. Python Logging</li>
        </ul>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container">
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <h4 class="panel-title border1">
          <a data-toggle="collapse" href="#collapse3">UI TECHNOLOGIES</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">1. HTML</li>
          <li class="list-group-item">2. CSS</li>
          <li class="list-group-item">3. BOOTSTRAP</li>
          <li class="list-group-item">4. JAVASCRIPT</li>
          <li class="list-group-item">5. JQUERY</li>
          <li class="list-group-item">6. DOM </li>
        </ul>
    </div>
  </div>
</div>

</section>

<section>
  <section>
    <div class="container">
    <div class="panel-group ">
      <div class="panel panel-default ">
        <div class="panel-heading ">
          <h4 class="panel-title border1">
            <a data-toggle="collapse" href="#collapse4">DJANGO FRAMEWORK</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <ul class="list-group">
            <li class="list-group-item">1. Introduction</li>
            <li class="list-group-item">2. Django & Atom Installation</li>
            <li class="list-group-item">3. First Web Application</li>
            <li class="list-group-item">4. Templates and Static Files</li>
            <li class="list-group-item">5. Models and Databases</li>
            <li class="list-group-item">6. Django Forms</li>
            <li class="list-group-item">7. Django Model Forms </li>
            <li class="list-group-item">8. Advanced Template Features</li>
            <li class="list-group-item">9. Session Management</li>
            <li class="list-group-item">10. User Authentication and Authorization</li>
            <li class="list-group-item">11. CRUD Operations by using both CBVs and FBVs</li>
            <li class="list-group-item">12. Django ORM</li>
            <li class="list-group-item">13. Advanced Model Concepts</li>
            <li class="list-group-item">14. Django Middleware</li>
            <li class="list-group-item">15. Deployment of our application </li>
            <li class="list-group-item">16. Real Time Project</li>
          </ul>
      </div>
    </div>
  </div>

  </section>

</section>
</div>

{%endblock%}
