{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}

<div class="container classforspace body1">
 <div class="row">
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
   <table class="border3 color1">
     <th>PYT. FULL STACK WEB DEV</th>
     <tr>
       <td>EXCERSISE QUESTIONS</td>
     </tr>
     <tr>
       <td>TEST-SERIES</td>
     </tr>
     <tr>
       <td>DOUBT SESSION AFTER EVERY CHAPTER</td>
     </tr>
     <tr>
       <td>SUPPORT THROUGH EMAIL</td>
     </tr>
     <tr>
       <td><span style="" ></span>Rs 15000/-</td>
     </tr>
     <tr>
       <td> <a href="/join" type="button" class="btn btn-primary btn-lg ">JOIN NOW </a> </td>
     </tr>
   </table>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
   <table class="border3">
     <th>CORE JAVA</th>
     <tr>
       <td>EXCERSISE QUESTIONS</td>
     </tr>
     <tr>
       <td>TEST-SERIES</td>
     </tr>
     <tr>
       <td>DOUBT SESSION AFTER EVERY CHAPTER</td>
     </tr>
     <tr>
       <td>SUPPORT THROUGH EMAIL</td>
     </tr>
     <tr>
       <td>JDK NEW FEATURE</td>
     </tr>
     <tr>
       <td>Rs 7000/-</td>
     </tr>
     <tr>
<td> <a href="/join" type="button" class="btn btn-primary btn-lg ">JOIN NOW </a> </td>     </tr>
   </table>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
   <table class="border3">
     <th>ADV JAVA</th>
     <tr>
       <td>EXCERSISE QUESTIONS</td>
     </tr>
     <tr>
       <td>TEST-SERIES</td>
     </tr>
     <tr>
       <td>DOUBT SESSION AFTER EVERY CHAPTER</td>
     </tr>
     <tr>
       <td>SUPPORT THROUGH EMAIL</td>
     </tr>
     <tr>
       <td>JDK NEW FEATURE</td>
     </tr>

     <tr>
       <td>Rs 8000/-</td>
     </tr>
     <tr>
<td> <a href="/join" type="button" class="btn btn-primary btn-lg ">JOIN NOW </a> </td>
     </tr>
   </table>
 </div>
 </div>
 <div class="row">
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box classforspace3">
   <table class="border3 ">
     <th>C++ LANG</th>
     <tr>
       <td>EXCERSISE QUESTIONS</td>
     </tr>
     <tr>
       <td>TEST-SERIES</td>
     </tr>
     <tr>
       <td>DOUBT SESSION AFTER EVERY CHAPTER</td>
     </tr>
     <tr>
       <td>SUPPORT THROUGH EMAIL</td>
     </tr>
     <tr>
       <td>Rs 2000/-</td>
     </tr>
     <tr>
<td> <a href="/join" type="button" class="btn btn-primary btn-lg ">JOIN NOW </a> </td>
     </tr>
   </table>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box classforspace3">
   <table class="border3 ">
     <th>C++LANG</th>
     <tr>
       <td>EXCERSISE QUESTIONS</td>
     </tr>
     <tr>
       <td>TEST-SERIES</td>
     </tr>
     <tr>
       <td>DOUBT SESSION AFTER EVERY CHAPTER</td>
     </tr>
     <tr>
       <td>SUPPORT THROUGH EMAIL</td>
     </tr>

     <tr>
       <td>Rs 2500/-</td>
     </tr>
     <tr>
<td> <a href="/join" type="button" class="btn btn-primary btn-lg ">JOIN NOW </a> </td>
     </tr>
   </table>
 </div>
 </div>
</div>

{% endblock %}
