{% extends 'testapp/Base.html' %}
{%load staticfiles%}
{% block body_block %}
<!-- Social Media Section ---------------------------->
<section id="social-media">
  <div class="container text-center">
    <p >Find us on social media</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/om.programmingworld.9"> <img src="{%static "images/fa.jpg"%}"> </a>
      <a href="https://www.instagram.com/?hl=en"> <img src="{%static "images/ins.jpg"%}"> </a> 
      <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"> <img src="{%static "images/link.jpg"%}"> </a>
      <a href="https://www.youtube.com/channel/UCcRa8B-79gmw9VW6GElVJYQ/?guided_help_flow=5"> <img src="{%static "images/Y.png"%}"> </a>

      <br>
    </div>
  </div>
</section>

{%endblock%}
